@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'roc';
  src: url('./fonts/rocgroteskcomp-extrabold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rec';
  src: url('./fonts/Recoleta.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roc-wide';
  src: url('./fonts/rocgroteskwide-extrabold.otf');
  font-weight: normal;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Montserrat, Helvetica, sans-serif;
}

input {
  font-family: Montserrat, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

nav li {
  color: #160e41;
  font-weight: 500;
  font-size: 0.875rem;
  transition: all .2s linear;
  padding: 8px 0;
}

nav li:hover {
  color: #04784a;
}

nav .active {
  border-bottom: 3px solid rgba(4, 120, 74, 1);
  color: rgba(88, 86, 214, 1);
}

.btn-primary:hover {
  opacity: 0.7;
}

.btn-secondary:hover {
  background-color: rgba(4, 120, 74, 0.8);
  color: #fff;
}

.btn-primary {
  transition: all .2s linear;
  height: 43px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 50px;
  border-width: 0;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  background: -moz-linear-gradient(70deg, rgba(4, 120, 74, 0.8) 0%, #04784a 100%);
  background: -webkit-linear-gradient(70deg, rgba(4, 120, 74, 0.8) 0%, rgba(4, 120, 74, 1) 100%);
  background: linear-gradient(70deg, rgba(4, 120, 74, 0.8) 0%, rgba(4, 120, 74, 1) 100%);
}

.bg-linear {
  background: linear-gradient(70deg, rgba(4, 120, 74, 0.8) 0%, rgba(4, 120, 74, 1) 100%);
}

.btn-secondary {
  transition: all .2s linear;
  border: 1px solid rgba(4, 120, 74, 0.8);
  height: 43px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 50px;
  color: rgba(4, 120, 74, 0.8);
  font-size: 14px;
  font-weight: 600;
}

.btn-white {
  transition: all .2s linear;
  border: 1px solid #fff;
  height: 43px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 50px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}


.color-white {
  border: 1px solid #fff;
  color: #fff;
}

.btn-lg {
  height: 50px;
  font-size: 16px;
  padding-left: 25px;
  padding-right: 25px;
}

.btn-wide {
  height: 48px;
  font-size: 16px;
  padding-left: 30px;
  padding-right: 30px;
}

.btn-xl {
  height: 58px;
  font-size: 16px;
  padding-left: 35px;
  padding-right: 35px;
}

.glossy-card {
  padding: 2rem;
  background-color: rgba(250, 251, 253, .4);
  box-shadow: 0 10px 30px #0d274b15;
  border-radius: 20px;
  margin-bottom: 1rem;
  position: relative;
  -webkit-backdrop-filter: blur(0.8rem);
  backdrop-filter: blur(0.8rem);
}